<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NTS_WAIT_RESPONSE_TIMEOUT" value="120000"/>
    <add key="NTS_SOCKET_TIMEOUT" value="5000"/>
    <add key="NTS_MAX_POOL_SIZE" value="50"/>
    <add key="NTS_MIN_POOL_SIZE" value="10"/>
  </appSettings>
</configuration>